<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks again for signing up for Citizen Debate!</h1>
    <p>
      We have received your snippet, and have bumped you closer to the front of the line. There are now only XX people in front of you.
    </p>
    <p>
      In case you forgot, your username is: <%= @snippet.email %>.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
