<h1> Your Feedback </h1>
<p>
  <strong>Why you want to use PRODUCT:</strong>
  <br>
  <%= @snippet.body %>
</p>
<p>
  <strong>How likely are you to recommend PRODUCT to a friend?</strong>
  <br>
  <%= @snippet.rating %>
</p>

<%= link_to 'Edit', edit_snippet_path(@snippet) %> |
<%= link_to 'Back', snippets_path %>
