<div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Hero tagline: Solving the XXX Problem with a YYY Solution</h1>
                        <h2>Subtext: For target users who care about ZZZ</h2>
                        <hr class="intro-divider">
                        <!-- <script async="async" id="button_b95ce782-a07a-438c-a2d6-d80e306ba173" src="//www.paywithatweet.com/embeds/b95ce782-a07a-438c-a2d6-d80e306ba173" charset="utf-8"></script> -->
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="#" class="btn btn-default btn-hero">
                                 Get Started Today
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Value Prop #1:<br>Why XXX is a problem</h2>
                    <p class="lead">There are thousands of puppy dogs suffering from XXX today.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="assets/dog.png" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Modern technology<br>makes the problem disappear</h2>
                    <p class="lead">Advances in digital communications and real-time collaboration enabled a breakthrough in <a target="_blank" href="#linkTBD">this cool thing</a>! Learn more about how years of research all came together.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="assets/DeathtoStock_Wired10.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">To infinity <br>and beyond.</h2>
                    <p class="lead">Only time will tell how  <a target="_blank" href="#linkTBD">this crazy idea</a> will evolve. Join today and do your part toward shaping the future.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="assets/ipad_pro_roundup.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->

<!-- HOW IT WORKS start -->

    <div class="content-section-b">
        <div class="container cl-b">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="feature_header text-center">
                            <h2 class="section-heading text-left"> <b>How it works</b></h3>
                            <h3 class="lead">
                            At COMPANY NAME, we empower USERS to make responsible and informed decisions. Namely, we can help you decide how to do SOMETHING the <b> smart way.</b>
                            </h4>
                            <div class="divider"></div>
                <hr>
                            <h3 class="section-heading">   What does that actually mean?</h4>
                            <p class="lead text-left">
                                Due to XYZ, there's a huge opportunity with the way you used to do things. As experts in this field, we've determined that there is a better way. By doing SOMETHING, you're able to save <span class="text-green"> <b> A LOT OF TIME OR MONEY </b></span> compared to what you're doing today.
                            </p>
                            <button class="btn btn-large btn-success"><a class="" href="quotes/new">  Estimate your savings</a> </button>
                        </div>
                    </div>  <!-- Col-md-12 End -->
                </div>
                <div class="row">
                    <div class="main_feature text-center">
                        <div class="col-md-3 col-xs-12 col-sm-6">
                                <div class="feature_content steps-box">
                                    <!-- <i class="fa fa-lightbulb-o"></i> -->
                                    <h2>Step 1<br>
                                    <span class="feature_steps"> Learn the Landscape </span> </h4>
                                    <p>
                                    Review how it works. Familiarize yourself with the process by exploring our FAQs below.
                                    </p>
                                    <div class="btn-bottom">
                                        <button class="btn btn-main"><a class="how-button" href="#faqs">  Jump to FAQs</a> </button>
                                    </div>
                                </div>
                            </div>
                        <div class="col-md-3 col-xs-12 col-sm-6">
                                <div class="feature_content steps-box">
                                    <!-- <i class="fa fa-pencil"></i> -->
                                    <h2>Step 2<br>
                                    <span class="feature_steps"> Initiate Contact </span> </h4>
                                    <p>Take the first step forward by scheduling a 30-minute <b>free consultation </b>with a member of the our staff. </p>
                                    <div class="btn-bottom">
                                        <button class="btn btn-main" ><a class="how-button" href="#contact"> Schedule Now </a> </button>
                                    </div>
                                </div>
                        </div> <!-- Col-md-4 Single_feature End -->
                        <div class="col-md-3 col-xs-12 col-sm-6">
                                <div class="feature_content steps-box">
                                    <!-- <i class="fa fa-cog"></i> -->
                                    <h2>Step 3<br>
                                    <span class="feature_steps"> ACT THREEE </span> </h4>
                                    <p>There is no such thing as a typical experience, but expect at least 1-2 weeks. During this stage, some people do this, while others do that. </p>
                                    <div class="btn-bottom">
                                        <button class="btn btn-main"> <a class="how-button" href="#pricing"> Pricing </a> </button>
                                    </div>
                                </div>
                        </div> <!-- Col-md-4 Single_feature End -->
                        <div class="col-md-3 col-xs-12 col-sm-6">
                                <div class="feature_content steps-box">
                                    <!-- <i class="fa fa-desktop"></i> -->
                                    <h2>Step 4<br>
                                    <span class="feature_steps"> HAPPY CUSTOMER </span> </h4>
                                    <p>Congrats, your crazily complicated problem is now simplified and solved. Enjoy having a better life.</p>
                                    <div class="btn-bottom">
                                        <button class="btn btn-main"> <a class="how-button" href="#faqs"> Read More </a> </button>
                                    </div>
                                </div>
                        </div> <!-- Col-md-4 Single_feature End -->
                        <!-- <button class="btn btn-main"> Read More</button> -->
                    </div>
            </div>  <!-- Row End -->
        </div>  <!-- Container End -->
    </div>
<!-- HOW IT WORKS End -->

<!-- Pricing Table Start -->
<div id="pricing" class="pricing_overlay content-section-a">
            <div class="vertical_space cl-b"> </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="feature_header text-center">
                    <h3 class="feature_title">Our <b>Pricing</b></h3>
                    <h4 class="feature_sub text-center">Like most products today, you can pay for premium, or be cheap and get by with the free minimum value. We're here to help every step of the way, in the manner that best fits your needs.</h4>
                    <div class="divider"></div>
                </div>
            </div>  <!-- Col-md-12 End -->

            <div class="text-center pricing">
                <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="single_table">
                    <div class="plan_wrapper"></div>
                        <ul>
                            <li class="plan">Do it yourself<br><span>one-time-fee</span></li>
                            <li class="price"> Free </li>
                            <li> Free XZY experience</li>
                            <li> Basic feature #1</li>
                            <li> <span class="text-red"> No optional bonus </span></li>
                            <li> <span class="text-red"> No advanced feature </span></li>
                            <li class="price_button"> <button class="btn btn-main featured"><a href="mailto:bbensch@gmail.com?subject=My%20NEW%20LEAD&body=Hello,%0A%0AI%20just%20signed%20up%for%20XYZ%20." target="_blank" > Sign Up Now!</a></button></li>
                        </ul>
                    </div>
                </div> <!-- Single col-md-4 End -->
                <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="single_table grey_bg  ">
                        <div class="plan_wrapper"></div>
                        <ul>
                            <li class="plan">Standard  <br><span></span></li>
                            <li class="price"> $9.99 <span> per month</span></li>
                            <li> Unlimited access to core features</li>
                            <li> Free email support</li>
                            <li> <span class="text-green"> Weekly newsletter </span></li>
                            <li> <span class="text-green"> Another feature </span></li>
                            <li> A final slightly more complicated version.</li>
                            <li class="price_button"> <button class="btn btn-main featured"><a href="mailto:bbensch@gmail.com?subject=My%20NEW%20LEAD&body=Hello,%0A%0AI%20just%20signed%20up%for%20XYZ%20." target="_blank" > Sign Up Now!</a></button></li>
                        </ul>
                    </div>
                </div> <!-- Single col-md-4 End -->
                <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="single_table dark_bg">
                        <div class="plan_wrapper"></div>
                        <ul>
                            <li class="plan">Premium <br><span></span></li>
                            <li class="price"> $19.99 <span>per month  </span></li>
                            <li> Unlimited access to all features</li>
                            <li> Dedicated account management support</li>
                            <li> <span class="text-green"> <strong> Early access to beta-features </strong></span></li>
                            <li> Bonus content every week</li>
                            <li> Another compelling premium feature</li>
                            <li class="price_button"> <button class="btn btn-main featured"><a href="mailto:bbensch@gmail.com?subject=My%20NEW%20LEAD&body=Hello,%0A%0AI%20just%20signed%20up%for%20XYZ%20." target="_blank" > Sign Up Now!</a></button></li>
                        </ul>
                    </div>
                </div> <!-- Single col-md-4 End -->
            </div>
        </div>
    </div>
</div>
<!-- Pricing Section End -->

<!-- About us start -->
<div id="about" class="content-section-b">
                <div class="vertical_space cl-b"> </div>
        <div class="container cl-b">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="feature_header text-center">
                            <h3 class="section-heading">About <b>COMPANY NAME</b></h3>
                            <p class="lead text-left">
                                At COMPANY NAME our mission is to <b> make your life beter</b>. In April 2016 we are launching <span class="highlight_green"> COMPANY NAME Product </span> as the first of an evolving suite of products. Over the course of 2016 and beyond, we plan on launching additional products that will further our long-term ambition of making all lives better. .
                            </p>
                        </div>
                    </div>  <!-- Col-md-12 End -->
                </div>
            </div>
        </div>
    </div>
</div>



<!-- About us End -->

<!-- FAQs Start -->
<div id="faqs" class="content-section-a">
    <div class="vertical_space cl-b"> </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="feature_header text-center">
                    <h3 class="section-heading">Frequently Asked <b> Questions</b></h3>
                    <h4 class="lead"> Can't find what you're looking for? Please simply send your question by email to <a href="mailto:bbensch+test@gmail.com" target="_blank"> bbensch+test@gmail.com </a> </h4>

                    <div class="post_img text-left">
                        <h5 class="section-heading"> <span class="faq-q">Q:</span>
                            Question # 1 - I don't get it?
                        </h5>
                        <h5 class="faq-answer"> <span class="faq-a">A:</span>
                            Read the info above first.
                        </h5>
                        <p class="faq-text">Okay now I'll explain it here. </p>
                    </div>
                    <div class="post_img text-left">
                        <h5 class="section-heading"> <span class="faq-q">Q:</span>
                            Will it work on this device?
                        </h5>
                        <h5 class="faq-answer"> <span class="faq-a">A:</span>
                            Yes, most likely.
                        </h5>
                        <p class="faq-text">
                            We are currently available on iOS and Android devices only. If you have a Windows phone, I'm sorry for you.
                        </p>
                    </div>
                <div class="post_img text-left">
                        <h5 class="section-heading"> <span class="faq-q">Q:</span>
                            Does this actually make the problem better?
                        </h5>
                        <h5 class="faq-answer"> <span class="faq-a">A:</span>
                            We think so, but you be the judge.
                        </h5>
                        <p class="faq-text">
                            We have a 100% customer satisfaction guarantee. If at any time you feel that you are having a bad time, let us know, and we'll make it better.
                            <ul>
                                <li class="faq-list" >
                                - Way to make it better #1 </li>
                                <li class="faq-list">
                                - Way to make it better #2</li>
                                <li class="faq-list">
                                - Way to make it better #3.</li>
                                <li class="faq-list">
                                - Way to make it better #4
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div> <!-- blog Timeline End -->
        </div>
    </div>
</div>
<!-- FAQS End -->

  <a  name="contact"></a>
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Connect with us online:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/bbensch" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/bbensch09" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/bbensch09" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.container -->
