/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 // *= require_self
 // Custom bootstrap variables must be set or import before bootstrap itself.
*/

$orange: #ff6618;
$light-teal: #76bbc5;
$teal: #00788a;
$gray: #9A9C9F;
$black: #0F0F0D;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container-nav {
  width: 90vw;
  max-width: 1200px;
  margin: auto;
  padding-right: 5vw !important;
  padding-left: 5vw !important;
  background-color: #f8f8f8;
}

.container-fluid {
  width: 100vw;
  max-width: 1600px;
  padding-right: 0vw !important;
  padding-left: 0vw !important;
  background-color: white;
}

.sticky-header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    position: fixed !important;
}
.header-image{
  top:50px;
  position: relative;
  clear: both;
  margin-left: auto;
  height:100px;
  width: 100%;
  max-width: 1600px;
  margin-bottom: 50px;
}

.text-left{text-align:left;}
.text-right{ text-align: right;}
.btn-hero {
  padding: 20px 28px;
  font-size: 36px !important;
  line-height: 2 !important;
  border-radius: 12px !important;
}
.nps {
  padding: 10px 10px;
  line-height: 1.5;
  font-size: 18px;
}
