// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url("obama-romney-blurred.jpeg") no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}
/* PRicing TAble Features
================================== */
.pricing_overlay {
    position: relative;
}

.pricing_overlay:before {
    content: "";
    background: rgba(0,0,0,.1);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

#pricing_table {
    background: url("../images/bg/1.jpg")fixed center center;
    background-size: cover;
}

.dark_bg {
    position: relative;
}

.plan {
    font-weight: 700!important;
}

.price {
    font-weight: 500!important;
}

.single_table {
    background: #FFFFFF;
    float: left;
    -webkit-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    width: 90%;
    left: 10%;
    /*right: 5%;*/
    position: relative;
}
@media(min-width:300px) {

.single_table {
    background: #FFFFFF;
    float: left;
    -webkit-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    width: 300px;
    left: -70px;
    margin: 50px auto;
    position: relative;
}

}

@media(min-width:900px) {

.single_table {
   background: #FFFFFF;
    float: left;
    -webkit-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    width: 372px;
    margin: 50px auto;
    position: relative;
}

}

.single_table ul li {
    padding: 15px 30px;
    border-bottom: 1px solid #e6e6e6;
    color: #434343;
    font-size: 18px;
}

.single_table ul li:first-child,
.single_table ul li:last-child {
    border-bottom: 0px;
}

.single_table ul li.plan {
    color: #006caf;
    font-size: 25px;
    padding: 25px 0px;
}

.single_table ul li.plan span {
    font-size: 14px;
}

.single_table ul li.price {
    font-size: 50px;
    font-family: "Raleway";
    padding: 35px 0px;
}

.single_table ul li.price span {
    font-size: 30px;
}

.single_table ul li.price_button .btn-default {
    background: #444444;
    border-radius: 0px;
    color: #fff;
    padding: 10px 18px;
}

/* Grey Bg */
.grey_bg {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 2;
}

.grey_bg ul li.plan {
    padding: 45px 0px !important;
}

.grey_bg .btn-slide {
    color: #fff;
}

/* Black Bg */
.dark_bg ul li.plan {
    color: #006caf;
    font-size: 2em;
    padding: 25px 0px;
}
/*.dark_bg ul li.price {
    color: #434343;
}
.dark_bg ul li.price_button {
    background: #F6F6F6;
}
.dark_bg ul li.price_button .btn-default {
    background: #434343;
}*/
.single_table ul li.plan {
    font-size: 2em;
    color: #006caf;
    position: relative;
    z-index: 1;
}

.single_table .plan_wrapper {
    /*background: none repeat scroll 0 0 #434343;*/
    content: "";
    height: 70px;
    left: 40%;
    position: absolute;
    top: 40px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 70px;
    z-index: 1;
    overflow: hidden;
}

.grey_bg .plan_wrapper {
    content: "";
    height: 70px;
    left: 40%;
    position: absolute;
    top: 75px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 70px;
    z-index: 1;
    overflow: hidden;
}

.dark_bg .plan_wrapper {
    /*background:  #434343!important;*/
    content: "";
    height: 70px;
    left: 41%;
    top: 38px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 70px;
    z-index: 1;
    overflow: hidden;
    position: absolute;
}

.single_table ul {
    list-style: none !important;
}

.price_button .btn-main {
    margin: 0px!important;
}
